Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/KiteDemo
Content/Lighting
Content/ParagonMinions
Content/ParagonPhase
Content/ParagonProps
Content/SampleMap
Content/AdvancedMagicFX13
